.vertical-button {
  z-index: 999;
  position: absolute !important;
  left: -83px !important;
  bottom: 60% !important;
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  width: 200px;
}

.accordion {
  --bs-accordion-bg: #000;
  --bs-accordion-border-color: #123;
  --bs-accordion-color: #f00db0;
  --bs-accordion-btn-color: #f00dbb;
  --bs-accordion-active-bg: #111111;
  color: #0dcaf0;
}

.accordion:hover {
  --bs-accordion-active-bg: #0dcaf0;
  --bs-accordion-bg: #0dcaf0;
  --bs-accordion-border-color: #123;
  --bs-accordion-color: rgba(240, 13, 195, 0.84);
  --bs-accordion-active-btn-color:#111111;

}
