<nav class="navbar navbar-expand-lg navbar-light bg-dark text-white">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-start">
      <a class="navbar-brand text-white" href="#">VFR-PLANING-FLIGHT</a>
    </div>

    <div class="collapse navbar-collapse justify-content-center">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item text-white">
          <a class="nav-link text-white" href="#">1-OPTION</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">LOGO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">2-OPTION</a>
        </li>
      </ul>

    </div>
    <div class="collapse navbar-collapse justify-content-end">
      ABOUT
    </div>
  </div>
</nav>
