<div class="card border-info mb-3 text-bg-dark">
  <div class="card-header bg-transparent border-info">
        <div class="col-sm text-info">
          Waypoint {{waypoint?.nameOfPoint}}
          {{waypoint?.city}}
        </div>
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <div class="container">
      <div class="row">
        <div class="col-8">Cords</div>
        <div
          class="col-4 card-text text-info">{{waypoint?.getLatLng()?.lat | degree: true}} {{waypoint?.getLatLng()?.lng | degree:false}}</div>
      </div>
      <div *ngIf="waypoint?.distanceToNextPoint" class="row">
        <div class="col-8">Dist. to next waypoint</div>
        <div class="col-4 card-text tex text-info">{{waypoint?.distanceToNextPoint | distance}} </div>
      </div>
      <div *ngIf="waypoint?.bearing" class="row">
        <div class="col-8">Bearing to next waypoint</div>
        <div class="col-4 card-text text-info">{{waypoint?.bearing | degree}} </div>
      </div>
      <div *ngIf="waypoint?.timeToNextPoint" class="row">
        <div class="col-8">Time to next waypoint</div>
        <div class="col-4 card-text text-info">{{waypoint?.timeToNextPoint}} </div>
      </div>
    </div>
  </div>
  <div class="card-footer bg-transparent border-info">
    <div class="container">
      <div class="row">
        <div class="col-sm text-start">
          <button class="btn btn-outline-success my-2 my-sm-0" (click)="updateWaypoint(waypoint)" type="button">
            Edit waypoint
          </button>
        </div>
        <div class="col-sm text-end">
          <button class="btn btn-outline-danger my-2 my-sm-0" (click)="removeWaypoint(waypoint)" type="button">
            Delete waypoint
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
