<div>
  <div class="modal-dialog" tabindex="-1" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add new waypoint</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="waypointForm" (ngSubmit)="onSubmit()">
          <div class="container">
            <div class="row">
              <div class="col-5">
                <label>Search for a state:</label>
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model"
                       formControlName="placeByAirportName"
                       [ngbTypeahead]="search"/>
              </div>
              <div class="col-1">

              </div>
              <div class="col-3">
                <label for="lat">Latitude:</label>
                <input id="lat" type="text" class="form-control" formControlName="lat"/>
              </div>
              <div class="col-3">
                <label for="lng">Lang:</label>
                <input id="lng" type="text" class="form-control" formControlName="lng"/>
              </div>
            </div>
          </div>
          <br />
        </form>
        <div class="modal-footer">
          <button (click)="onSubmit()" class="btn btn-info">Add point</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
