<div>
    <div class="modal-dialog" tabindex="2" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add new waypoint</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" (click)="closeModal()">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <form>
                <label>Search for a state:</label>
                <input id="typeahead-basic" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"/>
              </form>
        </div>
        <pre>Model: {{ model | json }}</pre>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>

        </div>
      </div>
    </div>
  </div>

