<div>
  <div tabindex="-1" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title tw-modal-title" id="exampleModalLabel">Configure weather conditions</h5>
        <button type="button" class="btn close tw-text-cyan-600" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs tw-text-cyan-600 hover:tw-text-cyan-500">
          <li [ngbNavItem]="1">
            <a ngbNavLink class="tw-text-cyan-600 hover:tw-text-cyan-500">Automatic Weather</a>
            <ng-template ngbNavContent>
              <vfr-automatic-weather (dataFromAutomaticForm) = "addNewWeatherPoint($event)">
              </vfr-automatic-weather>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink class="tw-text-cyan-600 hover:tw-text-cyan-500">Manual Weather</a>
            <ng-template ngbNavContent>
              <vfr-manual-weather
                (dataFromManualForm)="setWeatherConditions($event)">
              </vfr-manual-weather>
            </ng-template>
          </li>
        </ul>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
        <div>
          <table *ngIf="actualWeather$" class="table">
            <thead>
            <tr>
              <th scope="col">City</th>
              <th scope="col">Speed</th>
              <th scope="col">Direction</th>
              <th scope="col">Source</th>
              <th scope="col">Action</th>
            </tr>
            </thead>
            <tbody class="table-group-divider">
            <tr *ngFor="let element of actualWeather$ |async">
              <td>{{element?.city}}</td>
              <td>{{element?.windSpeed }}</td>
              <td>{{element?.directionOfWind }}</td>
              <td>{{element?.source }}</td>
              <td>
                <button class="btn btn-info" (click)="setWeatherConditions(element)">Load weather params</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
