<ng-container *transloco="let t">
  <ng-container *ngFor="let waypoint of waypoints$|async">
    <div class="card mb-3 text-bg-dark tw-border-sky-800 hover:tw-border-sky-500">
      <div class="card-header bg-transparent tw-border-sky-800">
        <div class="col-sm tw-text-blue-300">
          {{ t('route.waypoint') }} {{waypoint?.nameOfPoint}}
          {{waypoint?.city}}
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title"></h5>
        <div class="container">
          <div class="row">
            <div class="col-8">{{ t('route.cords') }} </div>
            <div
              class="col-4 card-text tw-text-blue-300">{{waypoint?.getLatLng()?.lat | degree: true}} {{waypoint?.getLatLng()?.lng | degree:false}}</div>
          </div>
          <div *ngIf="waypoint?.distanceToNextPoint" class="row">
            <div class="col-8">{{ t('route.distance') }} </div>
            <div class="col-4 card-text tw-text-blue-300">{{waypoint?.distanceToNextPoint | distance}} </div>
          </div>
          <div *ngIf="waypoint?.bearing" class="row">
            <div class="col-8">{{ t('route.bearing') }}</div>
            <div class="col-4 card-text tw-text-blue-300">{{waypoint?.bearing | degree}} </div>
          </div>
          <div *ngIf="waypoint?.timeToNextPoint" class="row">
            <div class="col-8">{{ t('route.bearing') }}</div>
            <div class="col-4 card-text tw-text-blue-300">{{waypoint?.timeToNextPoint}} </div>
          </div>
        </div>
      </div>
      <div class="card-footer bg-transparent tw-border-sky-800">
        <div class="container">
          <div class="row">
            <div class="col-sm text-start">
              <button class="btn btn-outline-success my-2 my-sm-0 tw-rounded-full  hover:tw-bg-emerald-800 tw-shadow-lg tw-shadow-emerald-500/20" (click)="updateWaypoint(waypoint)" type="button">
                {{ t('route.edit') }}
              </button>
            </div>
            <div class="col-sm text-end">
              <button class="btn btn-outline-danger tw-rounded-full  hover:tw-bg-rose-800 tw-shadow-lg tw-shadow-rose-500/20" (click)="removeWaypoint(waypoint)" type="button">
                {{ t('route.delete') }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>



